body {
    height: 100%;
    width: 100%;
    background-color: #588157;
}

.no-margin {
    margin: 0 !important;
    padding: 0 !important;
}


.top-panel, .center-back {
    background-color: #588157;

}

.title-panel {
    background-color: #3a5a40;
    min-height: 15vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cart-count {
    display: none;
    margin-left: -15px;
    background-color: red;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    text-align: center;
    font-size: small;
    font-weight: bolder;
    color: white;
}

.button-panel {
    background-color: #588157;
    min-height: 5vh;
}

.west-panel,
.east-panel {
    background-color: #588157;
    min-height: 70vh;
}

.center-section, .bottom-section {
    background-color: #588157;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.center-panel {
    background-color: #dad7cd;
    min-height: 70vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.center-panel-cart {
    padding-top: 20px;
    background-color:#dad7cd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.bottom-panel {
    background-color: #344e41;
    min-height: 10vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.filter-panel {
    background-color: #a3b18a;
    min-height: 5vh;
}

.product-panel {
    flex-wrap: wrap;
    background-color: #dad7cd;
    min-height: 65vh;
    padding: 20px;
}

.nav-button {
    border: 0;
    background-color: #588157;
    min-height: 5vh;
    text-align: center;
    color: #dad7cd;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 15vh;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8vw;
}

.filter-container {
    display: flex;
    align-items: center;
    justify-content: start;
    min-height: 5vh;
    gap: 5vw;
}

.dropdown-button {
    border: 0;
    background-color: #a3b18a;
    color: #3a5a40
}

.search-field {
    border-radius: 5px;
    border-color: #3a5a40;
    border-width: 1px;
    padding-left: 1vw;
    color: #3a5a40;
    max-width: 40vw;
}

.search-field:focus {
    outline: none;
}

.box-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #FFFAFA;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 10px;
    min-height: 40vh;
    gap: 15px;
}

.box-product:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5);
}


.product-image {
    max-height: 10vh;
    width: auto;
}

.product-title,
.product-price {
    text-align: center;
    font-weight: bold;
}

.product-title {
    min-height: 8vh;
    text-overflow: ellipsis;
}

.add-to-cart-button {
    background-color: rgba(0, 89, 255, 0.7);
    color: white;
}

.more-info-button {
    border: 2px solid rgba(0, 89, 255, 0.7);
    color: rgba(0, 89, 255, 0.7);
    min-width: 16vw;
}

.add-to-cart-button, .more-info-button {
    display: block;
    
    border: 0;
    border-radius: 5px;
    min-height: 4vh;
    min-width: 15vw;
    font-weight: bold;
    
}

.add-to-cart-button:hover {
    background-color: rgba(0, 89, 255);
}

.add-to-cart-button:active {
    background-color: rgb(0, 0, 0);
}

.more-info-button:hover {
    background-color: #cecece;
}

.more-info-button:active {
    background-color: rgb(0, 0, 0);
}



.card-image {
    min-height: 12vh;
}

.dropbtn {
    background-color: #a3b18a;
    border: 0;
    text-align: center;
    font-size: 1.05em;
    color: #344e41;
}

.dropdown {
    position: relative;
    display: inline-block;
    border: 0;

}

.dropdown-content {
    display: none;
    position: absolute;
    border: 0;
    background-color: #a3b18a;
    min-width: 100px;
    box-shadow: 0px, 8px, 0px, rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
}

.dropdown-content .list-item:hover {
    background-color: #a3b18a
}

.dropdown:hover .dropdown-content {
    display: block;
}

.list-item {
    border: 0;
    background-color: #a3b18a;
    color: #3a5a40;
    font-weight: bold;
    height: 40px;
    min-width: 160px;
    font-size: 1.05em;
}

.centerBox {
    min-width: 100%;
}

/* Shopping cart entry */
.cart-entry {
    background-color:#dad7cd;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    min-height: 100px;
}

.cart-img-container {
    max-height: 50px;
    max-width: 50px;
    border-radius: 10px;
}

.cart-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
}


.minus,
.plus {
    width: 30px;
    height: 37px;
    background: #f2f2f2;
    border-radius: 4px;
    padding: 8px 5px 8px 5px;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.cart-input {
    height: 37px;
    width: 50px;
    text-align: center;
    font-size: 26px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
}