<div class="container-fluid">
    <div class="row cart-entry d-flex align-items-center justify-content-center text-center">
        <div class="col-2">
            <div class="cart-img-container">
                <img src="" alt="" class="cart-image">
            </div>
        </div>
        <div class="col-5 cart-title fw-bold"></div>
        <div class="col-2 cart-price text-start fw-bold"></div>
        <div class="col-3 d-flex">
            <div class="number d-flex ms-3 flex-column flex-sm-row align-items-center">
                <span class="minus">-</span>
                <input type="text" class="cart-input" value="" readonly />
                <span class="plus">+</span>
            </div>
            <img src="../images/x_icon.png" class="x-icon" alt="">
        </div>
    </div>
</div>