<div class="row w-100 d-flex">
    <div class="col g-2 ms-5 d-flex flex-column align-items-center justify-content-center">
        <h3>ORDER CONFIRMATION</h3>
        <p class="mt-3">Thank you for your order!</p>
        <div class="confirm-text text-center">We are getting started on your order right away
            and you will receive an order confirmation email shortly to <span class="span-conf-email fw-bold"></span>.
            In the mean time, feel free to browse around in
            the store for other exclusive products!</div>
        <p></p>
    </div>
</div>
<div class="ms-3">
    <div class="row">
        <div class="col mt-5 mb-3 d-flex align-items-start ">
            <h4>ORDER DETAILS</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-2 fw-bold">Order date</div>
        <div class="col conf-date"></div>
    </div>
    <div class="row">
        <div class="col-2 fw-bold">Order no.</div>
        <div class="col conf-order-no"></div>
    </div>
    <div class="row mt-3">
        <div class="col-2 fw-bold">Name</div>
        <div class="col conf-name"></div>
    </div>
    <div class="row">
        <div class="col-2 fw-bold">Adress</div>
        <div class="col conf-address1"></div>
    </div>
    <div class="row">
        <div class="col-2 fw-bold"></div>
        <div class="col conf-address2"></div>
    </div>
    <div class="row mt-3">
        <div class="col-2 fw-bold">Phone</div>
        <div class="col conf-phone"></div>
    </div>
    <div class="row">
        <div class="col-2 fw-bold">Email</div>
        <div class="col conf-email"></div>
    </div>
</div>